apache-airflow-providers-apache-beam==3.0.0
apache-airflow-providers-apache-cassandra==2.0.0
apache-airflow-providers-apache-druid==2.0.0
apache-airflow-providers-apache-hdfs==2.0.0
apache-airflow-providers-apache-hive==2.0.0
apache-airflow-providers-apache-kylin==2.0.0
apache-airflow-providers-apache-spark==2.0.0
apache-airflow-providers-apache-sqoop==2.0.0
apache-airflow-providers-celery==2.0.0
apache-airflow-providers-cncf-kubernetes==2.0.0
apache-airflow-providers-docker==2.0.0
apache-airflow-providers-hashicorp==2.0.0
apache-airflow-providers-http==2.0.0
apache-airflow-providers-jdbc==2.0.0
apache-airflow-providers-microsoft-mssql==2.0.0
apache-airflow-providers-mongo==2.0.0
apache-airflow-providers-mysql==2.0.0
apache-airflow-providers-odbc==2.0.0
apache-airflow-providers-postgres==2.0.0
apache-airflow-providers-redis==2.0.0
apache-airflow-providers-slack==4.0.0
apache-airflow-providers-sqlite==2.0.0
apache-airflow-providers-ssh==2.0.0
apache-airflow-providers-tableau==2.0.0
apache-airflow-providers-jira==2.0.0
